.container {
    max-width: 1200px;
}

main.main-cont {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* sidebar */
main section.sidebar-links {
    width: 16%;
    flex: 0 0 auto;
}

.sidebar-links ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-links ul li h5 {
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 0.85rem;
    color: var(--accpre-sidbar-title-color);
}

.sidebar-links ul li {
    padding-bottom: 1rem;
}

.sidebar-links ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--accpre-sidbar-link-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.sidebar-links ul li a:hover{
    color: var(--accpre-header-bg);
}

/* main body */
main section.main {
    flex: 0 0 auto;
    width: 62%;
}

.banner {
    position: relative;
    border-radius: 0.5rem;
}

.main .site-title {
    padding: var(--spc-4) 0 var(--spc-3);
    text-align: center;
}

.main h2{
    font-size: 1.5rem !important;
}

.mobile-sidebar-links {
    display: none;
}

.mobile-sidebar-links .mobile-sidebar-links_list {
    padding-top: var(--spc-4);
    padding-bottom: var(--spc-5);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul {
    display: flex;
    text-align: center;
    padding: 0;
    list-style: none;
    margin-top: var(--spc-2);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li {
    flex: 1;
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a {
    flex-direction: column;
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .icon-cont {
    padding: var(--spc-3) var(--spc-3);
    background: var(--accpre-primary-300);
    margin-bottom: var(--spc-2);
    display: inline-block;
    border-radius: var(--accpre-border-radius-lg);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .icon-cont i{
    font-size: 2rem;
    color: var(--accpre-nav-links-colora);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .label {
    display: block;
    opacity: 0.6;
}

.match-list.predictions {
    padding: var(--spc-2) var(--spc-0) var(--spc-0);
    width: 100%;
    position: relative;
}

.match-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spc-3);
    position: relative;
    z-index: 9999;
}

.match-filter .match-tab-list {
    flex: 1;
    position: relative;
    z-index: 9999;
}

.match-filter .match-sort-list {
    flex: 0 0 48%;
    display: flex;
    flex-direction: row;
    gap: var(--spc-3);
    justify-content: end;
}

.nav-pills {
    --accpre-nav-pills-border-radius: var(--accpre-border-radius);
    --accpre-nav-pills-link-active-color: #fff;
    --accpre-nav-pills-link-active-bg: #223F94;
}

.nav.nav-pills {
    display: flex;
    flex-direction: row;
    gap: var(--spc-2);
}

.nav.nav-pills .nav-link.active {
    background: var(--accpre-primary-500);
    color: var(--accpre-nav-pills-link-active-color);
}

.nav.nav-pills .nav-link {
    padding: var(--spc-2);
    line-height: 2;
    color: black;
    background: var(--accpre-nav-pills-link-bg);
    border-radius: var(--accpre-border-radius-lg);
}

.match-filter .match-tab-list .nav.nav-pills .nav-link {
    padding-left: var(--spc-4);
    padding-right: var(--spc-4);
}


.section-title {
    margin: var(--spc-5) var(--spc-0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title h3 {
    margin-bottom: var(--spc-0);
    font-size: 1.25rem;
}

.section-title a {
    display: inline-block;
    color: var(--accpre-readmore-link);
    word-break: keep-all;
    flex: 0 0 auto;
    text-decoration:underline !important;
}

/* predicition table */
.PredictionsTable_predictionTitle{
    background: #efefef;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    margin: auto;
    margin-top: 15px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    max-width: 90%;
}

.PredictionsTable_gridContainer {
    cursor: pointer;
    width: 100%;
    background: var(--accpre-nav-links-colora);
    padding: 15px;
    border-radius: 0.7rem;
    box-shadow: 1px 2px 0 0 #222;
    -webkit-box-shadow: 1px 2px 0 0 #222;
    -moz-box-shadow: 1px 2px 0 0 #222;
}

.btn.btn-secondary {
    background: var(--accpre-secondary-500);
    color: var(--accpre-gray-50);
}

.mob img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* .hidden-match { display: none; }
.visible-match { display: block; } */

.match-list .tab-content {
    overflow: hidden;
    border-radius: var(--accpre-border-radius-lg);
}

.match-list.predictions .signup-for-more {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: var(--spc-6);
    z-index: 9;
}

.match-list.predictions .signup-for-more:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    height: 500px;
    background: var(--accpre-login-for-more);
}

.match-list.predictions .signup-for-more.no-matches:before {
    display: none; /* Hide the before pseudo-element */
}
.match-list.predictions .signup-for-more.no-matches {
    position: relative;
}

.match-list.predictions .signup-for-more .signup-for-more_cont {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.match-list.predictions .signup-for-more .signup-for-more_cont .cta-action .btn {
    margin: var(--spc-2) var(--spc-2);
}

/* recent */
.tablepress-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.tablepress {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
    border: none;
}

.tablepress td, .tablepress th {
    padding: 8px;
    border: none;
    background: 0 0;
    font-size: 13px;
    text-align: left;
    float: none !important;
}

/* PLAN */
.plan .pricing-card {
    /* height: 311px; */
    padding: 50px 55px;
    display: inline-block;
    border-radius: 22px;
    position: relative;
    z-index: 999;
    width: 100%;
    /* padding: 40px 20px; */
    background: linear-gradient(103deg, #233452, #233452);
    box-shadow: -3px -3px 10px 0px #2334525e, 1px 2px 10px 0px rgb(35 52 82 / 42%);
    border-radius: 13px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.plan .pricing-card .tag {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #bd9b15 !important;
    /* padding-left: 12px; */
}

.plan .banner-btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 12px 4px;
    background: white !important;
    color: black !important;
    border-radius: 12px;
    transition: color 0.15s ease-in-out, 
    background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, 
    box-shadow 0.15s ease-in-out;
}

/* feature predicition */
.feature-predicition .table th:first-child, .feature-predicition .table td:first-child {
    padding-left: var(--spc-3);
}

.feature-predicition .table th {
    font-weight: 400;
    vertical-align: bottom;
    background: var(--accpre-table-th);
    border-bottom: 2px;
    padding: var(--spc-3) var(--spc-2);
}

.feature-predicition .table td {
    background: var(--accpre-table-mine-bg);
    transition: all 0.2s ease-in-out;
    padding: var(--spc-2) var(--spc-2) var(--spc-3);
}

.feature-predicition .table th small.label, .feature-predicition .table td small.label {
    display: block;
    text-align: center;
    margin-top: -0.5rem;
    opacity: 0.5;
}

.feature-predicition .table th .posibility, 
.feature-predicition .table td .posibility {
    display: flex;
}

.feature-predicition .table th .posibility span,
.feature-predicition .table td .posibility span {
    text-align: center;
    flex: 1 1 0%;
    padding: var(--spc-2) var(--spc-3);
}

.feature-predicition .table td.match-info-td {
    width: 43%;
}

.feature-predicition .match-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feature-predicition .timer .time_cont {
    display: block;
}

.feature-predicition .match-info .club-info .country, 
.feature-predicition .match-info .club-info .club {
    display: flex;
    align-items: center;
    padding: var(--spc-0);
}

.feature-predicition .match-info .club-info .country .country-icon, 
.feature-predicition .match-info .club-info .country .club-icon, 
.feature-predicition .match-info .club-info .club .country-icon, 
.feature-predicition .match-info .club-info .club .club-icon {
    width: 24px;
    height: 24px;
    text-align: center;
    margin: var(--spc-1) var(--spc-2) var(--spc-0) var(--spc-3);
}

.feature-predicition .match-info .club-info .country .country-icon img, 
.feature-predicition .match-info .club-info .country .club-icon img, 
.feature-predicition .match-info .club-info .club .country-icon img,
.feature-predicition .match-info .club-info .club .club-icon img {
    width: 1.1rem;
    height: auto;
}

.feature-predicition .club .country-name, 
.feature-predicition .club .club-name {
    display: block;
    margin-top: var(--spc-2);
    opacity: 0.8;
    white-space: nowrap;
    flex: 1 1 0%;
}

.feature-predicition .table td.action-td {
    width: 5%;
}

.feature-predicition .starts a {
    color: var(--accpre-primary-200);
    padding: var(--spc-2) var(--spc-3);
}

.feature-predicition .btn-td a {
    padding: var(--spc-2) var(--spc-3);
}

.feature-predicition .odd a, .feature-predicition .tips a {
    background: var(--accpre-match-tips);
    padding: var(--spc-0) var(--spc-3);
    border-radius: var(--spc-2);
    transition: 0.2s ease-in-out;
    border: solid 1px var(--accpre-match-tips);
}




/* category */
.category_style {
    padding: 5px;
    margin-top: 26px;
}

.storeBox {
    position: relative;
    background-color: var(--accpre-header-bg);
    padding: 8px;
    color: var(--accpre-nav-links-colora);
    border-radius: 8px;
    height: 87px;
    border: 1px dashed var(--accpre-warning-500);
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
    padding-right: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.storeBox:hover{
    background-color: var(--accpre-nav-links-colora);
    color: #000;
    border: 1px dotted #000;
    box-shadow: -3px -3px 10px 0px #2334525e
}

.category .pricing {
    position: absolute;
    top: 0;
    left: 0;
}

.storeBox img {
    height: 37px;
    max-width: 35px;
    padding: 10px 0px;
    border-radius: 100px;
    margin-right: 8px;
}

.storeBox span {
    flex-grow: 3;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}




/* extra */
main section.sidebar-extra {
    width: 22%;
    flex: 0 0 auto;
}

.calendar-cont {
    background: var(--accpre-container-bg);
    padding: var(--spc-2) var(--spc-2) var(--spc-2);
    border-radius: var(--accpre-border-radius-lg);
    margin-top: var(--spc-4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
}
  
.ui-widget.ui-widget-content.ui-datepicker {
    border-radius: var(--accpre-border-radius-sm);
    background: none;
    border: none;
    width: 100%;
    font-family: var(--accpre-body-font-family);
}


.ui-widget.ui-widget-content.ui-datepicker .ui-widget-header {
    background: var(--accpre-cal-table-th);
    border: none;
    display: flex;
    padding: var(--spc-2);
    align-items: center;
    justify-content: center;
}

ui-widget.ui-widget-content.ui-datepicker * {
    font-family: var(--accpre-body-font-family);
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: var(--accpre-border-radius-lg);
    text-align: center;
    transition: all ease-in-out 0.2s;
    display: block;
    text-decoration: none;
    color: var(--accpre-cal-col);
    margin: 0 auto;
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
    background: var(--accpre-primary-500);
    color: var(--accpre-gray-50);
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight {
    position: relative;
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: rgb(60, 255, 60);
    border-radius: 50%;
}

.sidebar-extra .code-conv-search {
    background: var(--accpre-container-bg);
    padding: var(--spc-2) var(--spc-2) var(--spc-2);
    border-radius: var(--accpre-border-radius-lg);
    margin-top: var(--spc-4);
    margin-bottom: var(--spc-1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title {
    background: var(--accpre-primary-500) url(../images/bet.jpeg) right center no-repeat;
    background-size: auto 20%;
    padding: var(--spc-4) var(--spc-2) var(--spc-3) var(--spc-3);
    border-radius: var(--accpre-border-radius-sm);
    overflow: hidden;
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content {
    width: 70%;
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content h4 {
    color: var(--accpre-gray-100);
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content p {
    font-size: 0.9rem;
    color: var(--accpre-gray-100);
}

.sidebar-extra .code-conv-search form {
    margin-top: var(--spc-3);
}

.sidebar-extra .code-conv-search form label {
    width: 100%;
    margin-bottom: 0.8rem;
}

.code-conv-search .form-control,
.code-conv-search .form-select {
    height: 42px;
    padding: 0px 12px;
    box-shadow: none;
}

.code-conv-search .form-control::placeholder,
.code-conv-search .form-select::placeholder {
    color: var(--accpre-select-color);
}
.select2-container--bootstrap-5 .select2-selection__placeholder {
    color: var(--accpre-select-color) !important;
}

.sidebar-extra .code-conv-search .cta-action {
    margin-top: var(--spc-2);
    height: 42px;
}














@media (max-width: 1199.98px) {
    .container {
        max-width: 1000px;
    }

    main section.sidebar-links {
        width: 20%;
    }

    main section.main {
        width: 80%;
        
    }
    main section.sidebar-extra {
        display: none;
    }
}

@media (max-width: 1399.98px) {
    .sidebar-extra .code-conv-search .code-conv-search_sec-title .content {
        width: 75%;
    }

    .feature-predicition .odd a, .feature-predicition .tips a {
        display: block;
        padding: var(--spc-2) var(--spc-2);
    }
}


@media (max-width: 991.98px) {
    main section.sidebar-links {
        display: none;
    }

    main section.main {
        width: 100%;
    }

    .mobile-sidebar-links {
        display: block;
    }

    .feature-predicition .table td.match-info-td {
        width: 40%;
    }

    .feature-predicition .table th, .feature-predicition .table td {
        vertical-align: middle;
    }
}

@media (max-width: 767.98px) {
    main .container {
        --accpre-gutter-x: 0rem;
    }

    main section.main {
        padding-right: 0;
    }

    .banner {
        border-radius: 0;
    }

    .main h2{
        font-size: 1rem !important;
    }

    .match-filter .match-sort-list {
        flex: 1;
        gap: var(--spc-2);
    }

    .section-title h3 {
        font-size: 1rem;
    }

    .match-list.predictions .signup-for-more .signup-for-more_cont {
        width: 100%;
    }

    .feature-predicition .table th:first-child, 
    .feature-predicition .table td:first-child {
        padding-left: var(--spc-2);
    }

    .feature-predicition .table th:nth-child(3), 
    .feature-predicition .table td:nth-child(3) {
        width: 20%;
    }

    .feature-predicition .table th .posibility span, 
    .feature-predicition .table td .posibility span {
        padding: var(--spc-0) var(--spc-1);
    }

    .feature-predicition .table td:first-child {
        text-align: end;
    }

    .feature-predicition .timer {
        flex: 0 0 100%;
        display: flex;
    }

    .feature-predicition .timer .time_cont {
        display: inline-block;
        margin-right: var(--spc-2);
        margin-top: var(--spc-1);
    }

    .feature-predicition .country-info, .feature-predicition .club-info {
        margin-top: var(--spc-2);
    }

    .feature-predicition .match-info .club-info .country .country-icon,
    .feature-predicition .match-info .club-info .country .club-icon,
    .feature-predicition .match-info .club-info .club .country-icon,
    .feature-predicition .match-info .club-info .club .club-icon {
        display: none;
    }
    
    .feature-predicition .club .country-name, 
    .feature-predicition .club .club-name {
        margin-top: var(--spc-0);
        text-align: start;
    }

    .feature-predicition .table td {
        padding: var(--spc-2) var(--spc-1) var(--spc-3);
    }
}

@media (max-width: 575.98px) {
    .match-list .btn {
        padding: var(--spc-3) var(--spc-2);
        display: block;
    }
    .feature-predicition .table th:nth-child(2) {
        display: none;
    }

    .feature-predicition .match-info .country-info, 
    .feature-predicition .match-info .club-info {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
    }

    .feature-predicition .match-info .club-info .country, 
    .feature-predicition .match-info .club-info .club {
        flex: 0 0 100%;
    }

    .feature-predicition .club .country-name, 
    .feature-predicition .club .club-name {
        overflow: hidden;
        text-overflow: ellipsis;
        /* text-overflow: clip; */
    }

    .feature-predicition .table td.stats-td {
        display: none;
    }

    .feature-predicition .table td.action-td {
        width: 11%;
    }
}
