.container {
    max-width: 1200px;
}

main.main-cont {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* sidebar */
main section.sidebar-links {
    width: 16%;
    flex: 0 0 auto;
}

.sidebar-links ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-links ul li h5 {
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 0.85rem;
    color: var(--accpre-sidbar-title-color);
}

.sidebar-links ul li {
    padding-bottom: 1rem;
}

.sidebar-links ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--accpre-sidbar-link-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.sidebar-links ul li a:hover{
    color: var(--accpre-header-bg);
}

/* main body */
main section.main {
    flex: 0 0 auto;
    width: 62%;
}

.banner {
    position: relative;
    border-radius: 0.5rem;
}

.main .site-title {
    padding: var(--spc-4) 0 var(--spc-3);
    text-align: center;
}

.main h2{
    font-size: 1.5rem !important;
}

.mobile-sidebar-links {
    display: none;
}

.mobile-sidebar-links .mobile-sidebar-links_list {
    padding-top: var(--spc-4);
    padding-bottom: var(--spc-5);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul {
    display: flex;
    text-align: center;
    padding: 0;
    list-style: none;
    margin-top: var(--spc-2);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li {
    flex: 1;
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a {
    flex-direction: column;
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .icon-cont {
    padding: var(--spc-3) var(--spc-3);
    background: var(--accpre-primary-300);
    margin-bottom: var(--spc-2);
    display: inline-block;
    border-radius: var(--accpre-border-radius-lg);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .icon-cont i{
    font-size: 2rem;
    color: var(--accpre-nav-links-colora);
}

.mobile-sidebar-links .mobile-sidebar-links_list ul li a .label {
    display: block;
    opacity: 0.6;
}

.match-list.predictions {
    padding: var(--spc-2) var(--spc-0) var(--spc-0);
    width: 100%;
    position: relative;
}

.match-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spc-3);
    position: relative;
    z-index: 9999;
}

.match-filter .match-tab-list {
    flex: 1;
    position: relative;
    z-index: 9999;
}

.match-filter .match-sort-list {
    flex: 0 0 48%;
    display: flex;
    flex-direction: row;
    gap: var(--spc-3);
    justify-content: end;
}

.nav-pills {
    --accpre-nav-pills-border-radius: var(--accpre-border-radius);
    --accpre-nav-pills-link-active-color: #fff;
    --accpre-nav-pills-link-active-bg: #223F94;
}

.nav.nav-pills {
    display: flex;
    flex-direction: row;
    gap: var(--spc-2);
}

.nav.nav-pills .nav-link.active {
    background: var(--accpre-primary-500);
    color: var(--accpre-nav-pills-link-active-color);
}

.nav.nav-pills .nav-link {
    padding: var(--spc-2);
    line-height: 2;
    color: black;
    background: var(--accpre-nav-pills-link-bg);
    border-radius: var(--accpre-border-radius-lg);
}

.match-filter .match-tab-list .nav.nav-pills .nav-link {
    padding-left: var(--spc-4);
    padding-right: var(--spc-4);
}


.section-title {
    margin: var(--spc-5) var(--spc-0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title h3 {
    margin-bottom: var(--spc-0);
    font-size: 1.25rem;
}

.section-title a {
    display: inline-block;
    color: var(--accpre-readmore-link);
    word-break: keep-all;
    flex: 0 0 auto;
    text-decoration:underline !important;
}

/* predicition table */
.PredictionsTable_predictionTitle{
    background: #efefef;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    margin: auto;
    margin-top: 15px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    max-width: 90%;
}

.PredictionsTable_gridContainer {
    cursor: pointer;
    width: 100%;
    background: var(--accpre-nav-links-colora);
    padding: 15px;
    border-radius: 0.7rem;
    box-shadow: 1px 2px 0 0 #222;
    -webkit-box-shadow: 1px 2px 0 0 #222;
    -moz-box-shadow: 1px 2px 0 0 #222;
}

.btn.btn-secondary {
    background: var(--accpre-secondary-500);
    color: var(--accpre-gray-50);
}

.mob img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* .hidden-match { display: none; }
.visible-match { display: block; } */

.match-list .tab-content {
    overflow: hidden;
    border-radius: var(--accpre-border-radius-lg);
}

.match-list.predictions .signup-for-more {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: var(--spc-6);
    z-index: 9;
}

.match-list.predictions .signup-for-more:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    height: 500px;
    background: var(--accpre-login-for-more);
}

.match-list.predictions .signup-for-more.no-matches:before {
    display: none; /* Hide the before pseudo-element */
}
.match-list.predictions .signup-for-more.no-matches {
    position: relative;
}

.match-list.predictions .signup-for-more .signup-for-more_cont {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.match-list.predictions .signup-for-more .signup-for-more_cont .cta-action .btn {
    margin: var(--spc-2) var(--spc-2);
}

/* recent */
.tablepress-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.tablepress {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
    border: none;
}

.tablepress td, .tablepress th {
    padding: 8px;
    border: none;
    background: 0 0;
    font-size: 13px;
    text-align: left;
    float: none !important;
}

/* extra */
main section.sidebar-extra {
    width: 22%;
    flex: 0 0 auto;
}

.calendar-cont {
    background: var(--accpre-container-bg);
    padding: var(--spc-2) var(--spc-2) var(--spc-2);
    border-radius: var(--accpre-border-radius-lg);
    margin-top: var(--spc-4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
}
  
.ui-widget.ui-widget-content.ui-datepicker {
    border-radius: var(--accpre-border-radius-sm);
    background: none;
    border: none;
    width: 100%;
    font-family: var(--accpre-body-font-family);
}


.ui-widget.ui-widget-content.ui-datepicker .ui-widget-header {
    background: var(--accpre-cal-table-th);
    border: none;
    display: flex;
    padding: var(--spc-2);
    align-items: center;
    justify-content: center;
}

ui-widget.ui-widget-content.ui-datepicker * {
    font-family: var(--accpre-body-font-family);
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: var(--accpre-border-radius-lg);
    text-align: center;
    transition: all ease-in-out 0.2s;
    display: block;
    text-decoration: none;
    color: var(--accpre-cal-col);
    margin: 0 auto;
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
    background: var(--accpre-primary-500);
    color: var(--accpre-gray-50);
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight {
    position: relative;
}

.ui-widget.ui-widget-content.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: rgb(60, 255, 60);
    border-radius: 50%;
}

.sidebar-extra .code-conv-search {
    background: var(--accpre-container-bg);
    padding: var(--spc-2) var(--spc-2) var(--spc-2);
    border-radius: var(--accpre-border-radius-lg);
    margin-top: var(--spc-4);
    margin-bottom: var(--spc-1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title {
    background: var(--accpre-primary-500) url(../images/bet.jpeg) right center no-repeat;
    background-size: auto 20%;
    padding: var(--spc-4) var(--spc-2) var(--spc-3) var(--spc-3);
    border-radius: var(--accpre-border-radius-sm);
    overflow: hidden;
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content {
    width: 70%;
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content h4 {
    color: var(--accpre-gray-100);
}

.sidebar-extra .code-conv-search .code-conv-search_sec-title .content p {
    font-size: 0.9rem;
    color: var(--accpre-gray-100);
}

.sidebar-extra .code-conv-search form {
    margin-top: var(--spc-3);
}

.sidebar-extra .code-conv-search form label {
    width: 100%;
    margin-bottom: 0.8rem;
}

.code-conv-search .form-control,
.code-conv-search .form-select {
    height: 42px;
    padding: 0px 12px;
    box-shadow: none;
}

.code-conv-search .form-control::placeholder,
.code-conv-search .form-select::placeholder {
    color: var(--accpre-select-color);
}
.select2-container--bootstrap-5 .select2-selection__placeholder {
    color: var(--accpre-select-color) !important;
}

.sidebar-extra .code-conv-search .cta-action {
    margin-top: var(--spc-2);
    height: 42px;
}














@media (max-width: 1199.98px) {
    .container {
        max-width: 1000px;
    }

    main section.sidebar-links {
        width: 20%;
    }

    main section.main {
        width: 80%;
        
    }
    main section.sidebar-extra {
        display: none;
    }
}

@media (max-width: 1399.98px) {
    .sidebar-extra .code-conv-search .code-conv-search_sec-title .content {
        width: 75%;
    }
}

@media (max-width: 991.98px) {
    main section.sidebar-links {
        display: none;
    }

    main section.main {
        width: 100%;
    }

    .mobile-sidebar-links {
        display: block;
    }
}

@media (max-width: 767.98px) {
    main .container {
        --accpre-gutter-x: 0rem;
    }

    main section.main {
        padding-right: 0;
    }

    .banner {
        border-radius: 0;
    }

    .main h2{
        font-size: 1rem !important;
    }

    .match-filter .match-sort-list {
        flex: 1;
        gap: var(--spc-2);
    }

    .section-title h3 {
        font-size: 1rem;
    }

    .match-list.predictions .signup-for-more .signup-for-more_cont {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .match-list .btn {
        padding: var(--spc-3) var(--spc-2);
        display: block;
    }
}