body[data-bs-theme=light] {
    --bal-heading-color: var(--accpre-gray-800);
    --bal-body-color: var(--accpre-gray-800);
}

:root, [data-bs-theme=light] {
    --accpre-gray-50: #fff;
    --accpre-gray-100: #fff;
    --accpre-gray-200: #E5E7F0;
    --accpre-gray-300: #EBEEF3;
    --accpre-gray-400: #DCE0EA;
    --accpre-gray-500: #E0E4ED;
    --accpre-gray-600: #bdc3d1;
    --accpre-gray-700: #131725;
    --accpre-gray-800: #101010;
    --accpre-gray-900: #000000;
    --accpre-gray-black: #000;
    --accpre-primary: #223F94;
    --accpre-secondary: #055264;
    --accpre-success: #6CB47A;
    --accpre-warning: #FFC901;
    --accpre-danger: #F0565F;
    --accpre-light: #fff;
    --accpre-dark: #000000;
    --accpre-primary-50: #DCE0EA;
    --accpre-primary-100: #BAC3DE;
    --accpre-primary-200: #7284B0;
    --accpre-primary-300: #2B344A;
    --accpre-primary-400: #253565;
    --accpre-primary-500: #223F94;
    --accpre-primary-600: #1A1F32;
    --accpre-primary-700: #131725;
    --accpre-primary-800: #0B0E19;
    --accpre-primary-900: #070915;
    --accpre-secondary-100: #fff;
    --accpre-secondary-200: #E5E7F0;
    --accpre-secondary-300: #2B344A;
    --accpre-secondary-400: #DCE0EA;
    --accpre-secondary-500: #055264;
    --accpre-secondary-600: #000000;
    --accpre-secondary-700: #000;
    --accpre-secondary-800: #000;
    --accpre-secondary-900: #000;
    --accpre-warning-100: #FFEEB1;
    --accpre-warning-200: #FFE68B;
    --accpre-warning-300: #FFDB55;
    --accpre-warning-400: #FFD435;
    --accpre-warning-500: #FFC901;
    --accpre-warning-600: #E8B702;
    --accpre-warning-700: #B58F01;
    --accpre-warning-800: #8C6F01;
    --accpre-warning-900: #6B5401;
    --accpre-error-100: #FDE8DD;
    --accpre-error-200: #FCCDBC;
    --accpre-error-300: #F6AA99;
    --accpre-error-400: #EC887D;
    --accpre-error-500: #F0565F;
    --accpre-error-600: #C13D47;
    --accpre-error-700: #A22A3E;
    --accpre-error-800: #821A34;
    --accpre-error-900: #731039;
    --accpre-success-100: #EAFBE7;
    --accpre-success-200: #D3F7CF;
    --accpre-success-300: #B0E8B0;
    --accpre-success-400: #93D299;
    --accpre-success-500: #6CB47A;
    --accpre-success-600: #4E9A64;
    --accpre-success-700: #368153;
    --accpre-success-800: #226843;
    --accpre-success-900: #14563A;
    --accpre-primary-rgb: 34, 63, 148;
    --accpre-secondary-rgb: 5, 82, 100;
    --accpre-success-rgb: 108, 180, 122;
    --accpre-warning-rgb: 255, 201, 1;
    --accpre-danger-rgb: 240, 86, 95;
    --accpre-light-rgb: 255, 255, 255;
    --accpre-dark-rgb: 0, 0, 0;
    --accpre-primary-50-rgb: 220, 224, 234;
    --accpre-primary-100-rgb: 186, 195, 222;
    --accpre-primary-200-rgb: 114, 132, 176;
    --accpre-primary-300-rgb: 43, 52, 74;
    --accpre-primary-400-rgb: 37, 53, 101;
    --accpre-primary-500-rgb: 34, 63, 148;
    --accpre-primary-600-rgb: 26, 31, 50;
    --accpre-primary-700-rgb: 19, 23, 37;
    --accpre-primary-800-rgb: 11, 14, 25;
    --accpre-primary-900-rgb: 7, 9, 21;
    --accpre-secondary-100-rgb: 255, 255, 255;
    --accpre-secondary-200-rgb: 229, 231, 240;
    --accpre-secondary-300-rgb: 43, 52, 74;
    --accpre-secondary-400-rgb: 220, 224, 234;
    --accpre-secondary-500-rgb: 5, 82, 100;
    --accpre-secondary-600-rgb: 0, 0, 0;
    --accpre-secondary-700-rgb: 0, 0, 0;
    --accpre-secondary-800-rgb: 0, 0, 0;
    --accpre-secondary-900-rgb: 0, 0, 0;
    --accpre-warning-100-rgb: 255, 238, 177;
    --accpre-warning-200-rgb: 255, 230, 139;
    --accpre-warning-300-rgb: 255, 219, 85;
    --accpre-warning-400-rgb: 255, 212, 53;
    --accpre-warning-500-rgb: 255, 201, 1;
    --accpre-warning-600-rgb: 232, 183, 2;
    --accpre-warning-700-rgb: 181, 143, 1;
    --accpre-warning-800-rgb: 140, 111, 1;
    --accpre-warning-900-rgb: 107, 84, 1;
    --accpre-error-100-rgb: 253, 232, 221;
    --accpre-error-200-rgb: 252, 205, 188;
    --accpre-error-300-rgb: 246, 170, 153;
    --accpre-error-400-rgb: 236, 136, 125;
    --accpre-error-500-rgb: 240, 86, 95;
    --accpre-error-600-rgb: 193, 61, 71;
    --accpre-error-700-rgb: 162, 42, 62;
    --accpre-error-800-rgb: 130, 26, 52;
    --accpre-error-900-rgb: 115, 16, 57;
    --accpre-success-100-rgb: 234, 251, 231;
    --accpre-success-200-rgb: 211, 247, 207;
    --accpre-success-300-rgb: 176, 232, 176;
    --accpre-success-400-rgb: 147, 210, 153;
    --accpre-success-500-rgb: 108, 180, 122;
    --accpre-success-600-rgb: 78, 154, 100;
    --accpre-success-700-rgb: 54, 129, 83;
    --accpre-success-800-rgb: 34, 104, 67;
    --accpre-success-900-rgb: 20, 86, 58;
    --accpre-primary-text-emphasis: #0e193b;
    --accpre-secondary-text-emphasis: #022128;
    --accpre-success-text-emphasis: #2b4831;
    --accpre-info-text-emphasis: #055160;
    --accpre-warning-text-emphasis: #665000;
    --accpre-danger-text-emphasis: #602226;
    --accpre-light-text-emphasis: #131725;
    --accpre-dark-text-emphasis: #131725;
    --accpre-primary-bg-subtle: #d3d9ea;
    --accpre-secondary-bg-subtle: #cddce0;
    --accpre-success-bg-subtle: #e2f0e4;
    --accpre-info-bg-subtle: #cff4fc;
    --accpre-warning-bg-subtle: #fff4cc;
    --accpre-danger-bg-subtle: #fcdddf;
    --accpre-light-bg-subtle: white;
    --accpre-dark-bg-subtle: #DCE0EA;
    --accpre-primary-border-subtle: #a7b2d4;
    --accpre-secondary-border-subtle: #9bbac1;
    --accpre-success-border-subtle: #c4e1ca;
    --accpre-info-border-subtle: #9eeaf9;
    --accpre-warning-border-subtle: #ffe999;
    --accpre-danger-border-subtle: #f9bbbf;
    --accpre-light-border-subtle: #E5E7F0;
    --accpre-dark-border-subtle: #E0E4ED;
    --accpre-white-rgb: 255, 255, 255;
    --accpre-black-rgb: 0, 0, 0;
    --accpre-font-sans-serif: "twk_everettregular", sans-serif;
    --accpre-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --accpre-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --accpre-root-font-size: 0.85rem;
    --accpre-body-font-family: var(--accpre-font-sans-serif);
    --accpre-body-font-size: 1rem;
    --accpre-body-font-weight: 400;
    --accpre-body-line-height: 1.5;
    --accpre-body-color: #000000;
    --accpre-body-color-rgb: 0, 0, 0;
    --accpre-body-bg: #F4F3F9;
    --accpre-body-bg-rgb: 244, 243, 249;
    --accpre-emphasis-color: #000;
    --accpre-emphasis-color-rgb: 0, 0, 0;
    --accpre-secondary-color: rgba(0, 0, 0, 0.75);
    --accpre-secondary-color-rgb: 0, 0, 0;
    --accpre-secondary-bg: #E5E7F0;
    --accpre-secondary-bg-rgb: 229, 231, 240;
    --accpre-tertiary-color: rgba(0, 0, 0, 0.5);
    --accpre-tertiary-color-rgb: 0, 0, 0;
    --accpre-tertiary-bg: #fff;
    --accpre-tertiary-bg-rgb: 255, 255, 255;
    --accpre-heading-color: #000;
    --accpre-link-color: #000000;
    --accpre-link-color-rgb: 0, 0, 0;
    --accpre-link-decoration: underline;
    --accpre-link-hover-color: black;
    --accpre-link-hover-color-rgb: 0, 0, 0;
    --accpre-code-color: #d63384;
    --accpre-highlight-color: #000000;
    --accpre-highlight-bg: #fff3cd;
    --accpre-border-width: 1px;
    --accpre-border-style: solid;
    --accpre-border-color: #EBEEF3;
    --accpre-border-color-translucent: rgba(0, 0, 0, 0.175);
    --accpre-border-radius: 0.3rem;
    --accpre-border-radius-sm: 0.25rem;
    --accpre-border-radius-lg: 0.5rem;
    --accpre-border-radius-xl: 1rem;
    --accpre-border-radius-xxl: 2rem;
    --accpre-border-radius-2xl: var(--accpre-border-radius-xxl);
    --accpre-border-radius-pill: 50rem;
    --accpre-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --accpre-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --accpre-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --accpre-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --accpre-focus-ring-width: 0.25rem;
    --accpre-focus-ring-opacity: 0.25;
    --accpre-focus-ring-color: rgba(34, 63, 148, 0.25);
    --accpre-form-valid-color: #6CB47A;
    --accpre-form-valid-border-color: #6CB47A;
    --accpre-form-invalid-color: #F0565F;
    --accpre-form-invalid-border-color: #F0565F;
}

body {
    margin: 0;
    font-family: var(--accpre-body-font-family);
    font-size: var(--accpre-body-font-size);
    font-weight: var(--accpre-body-font-weight);
    line-height: var(--accpre-body-line-height);
    color: var(--accpre-body-color);
    text-align: var(--accpre-body-text-align);
    background-color: var(--accpre-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --accpre-breakpoint-xs: 0;
    --accpre-breakpoint-sm: 576px;
    --accpre-breakpoint-md: 768px;
    --accpre-breakpoint-lg: 992px;
    --accpre-breakpoint-xl: 1200px;
    --accpre-breakpoint-xxl: 1400px;
}

:root {
    font-size: var(--accpre-root-font-size);
}

:root, [data-bs-theme=light] {
    --accpre-gray-50: #fff;
    --accpre-gray-100: #fff;
    --accpre-gray-200: #E5E7F0;
    --accpre-gray-300: #EBEEF3;
    --accpre-gray-400: #DCE0EA;
    --accpre-gray-500: #E0E4ED;
    --accpre-gray-600: #bdc3d1;
    --accpre-gray-700: #131725;
    --accpre-gray-800: #101010;
    --accpre-gray-900: #000000;
    --accpre-gray-black: #000;
    --accpre-primary: #223F94;
    --accpre-secondary: #055264;
    --accpre-success: #6CB47A;
    --accpre-warning: #FFC901;
    --accpre-danger: #F0565F;
    --accpre-light: #fff;
    --accpre-dark: #000000;
    --accpre-primary-50: #DCE0EA;
    --accpre-primary-100: #BAC3DE;
    --accpre-primary-200: #7284B0;
    --accpre-primary-300: #2B344A;
    --accpre-primary-400: #253565;
    --accpre-primary-500: #223F94;
    --accpre-primary-600: #1A1F32;
    --accpre-primary-700: #131725;
    --accpre-primary-800: #0B0E19;
    --accpre-primary-900: #070915;
    --accpre-secondary-100: #fff;
    --accpre-secondary-200: #E5E7F0;
    --accpre-secondary-300: #2B344A;
    --accpre-secondary-400: #DCE0EA;
    --accpre-secondary-500: #055264;
    --accpre-secondary-600: #000000;
    --accpre-secondary-700: #000;
    --accpre-secondary-800: #000;
    --accpre-secondary-900: #000;
    --accpre-warning-100: #FFEEB1;
    --accpre-warning-200: #FFE68B;
    --accpre-warning-300: #FFDB55;
    --accpre-warning-400: #FFD435;
    --accpre-warning-500: #FFC901;
    --accpre-warning-600: #E8B702;
    --accpre-warning-700: #B58F01;
    --accpre-warning-800: #8C6F01;
    --accpre-warning-900: #6B5401;
    --accpre-error-100: #FDE8DD;
    --accpre-error-200: #FCCDBC;
    --accpre-error-300: #F6AA99;
    --accpre-error-400: #EC887D;
Show all properties (146 more)
}

a{
    text-decoration: none !important;
    color: #000;
}

